<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <!-- Top Part: Name & Description -->
        <div class="header-top">
          <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
          </a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>

        <!-- Bottom Part: Social Links (Left) & Nav Links (Right) -->
        <div class="header-bottom header-flex">
          <!-- Left: Social/Email Links -->
          <div class="header-left social-links">
            <!-- Example badges; update with your actual links -->
            <a href="https://www.linkedin.com/in/sgvamsik/"><img src="https://img.shields.io/badge/LinkedIn-Connect-blue" alt="LinkedIn Badge"></a>
            <a href="https://github.com/Vamsi4040"><img src="https://img.shields.io/badge/GitHub-Follow-lightgrey" alt="GitHub Badge"></a>
            <a href="mailto:contacttovamsi@gmail.com"><img src="https://img.shields.io/badge/Email-Contact%20Me-orange" alt="Email Badge"></a>
          </div>

          <!-- Right: Navigation Links -->
          <div class="header-right">
            <nav id="main-nav">
              <ul>
                <li><a href="{{ '/README/' | relative_url }}">Home</a></li>
                <li><a href="https://unhnewhaven-my.sharepoint.com/:w:/g/personal/gsani1_unh_newhaven_edu/ERTxqLzMowJGozzQq3LuN30B5UpjIKfCwK39eLtssZUQFw?e=wJzYJa" target="_blank">Resume</a></li>
                <li><a href="{{ '/blogs/' | relative_url }}">Blogs</a></li>
                <li><a href="{{ '/about/' | relative_url }}">About Me</a></li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
